/* Variables para colores */
:root {
    --background-color: #D32F2F;
    --text-color: #000000;
    --primary-color: #1565C0; 
    --footer-background-color: #000000;
    --footer-text-color: #FFFFFF;
    --content-background-color: #FFFFFF;
  }
  
  body.dark-mode {
    --background-color: #121212;
    --text-color: #FFFFFF; 
    --primary-color: #BB86FC;
    --footer-background-color: #1F1F1F;
    --footer-text-color: #AAAAAA;
    --content-background-color: #333333;
  }
  
  /* General */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Botón de modo oscuro */
  #toggle-dark-mode {
    margin-left: auto;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
    
  /* HOME PAGE */
  section.homePage {
    min-height: 442px;
    background-image: 
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),     
      url("../img/circus.png");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0; 
  }
  
  section.homePage .item-1 {
    padding: 20px;
  }
  
  section.homePage h1 {
    font-size: 48px;
    color: #FFFFFF;
  }
  
  section.homePage a, section.aboutUs a {
    display: inline-block;
    margin-top: 20px;
    font-size: 48px;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    text-decoration: none;
    color: #FFFFFF;
  }
  
  section.aboutUs .item-1, section.objective .item-1 {
    background-color: #FAFAFA;
  }
  
  section.aboutUs .text {
    margin-bottom: 20px;
  }
  
  section.aboutUs p, section.objective p {
    margin-top: 30px;
    font-size: 16px;
  }
  
  section.aboutUs img, section.objective img {
    max-width: 100%;
    align-items: center;
  }
  
  section.aboutUs .item-1, section.objective .item-1 {
    padding: 20px;
  }
  
  section.objective img {
    margin-top: 20px;
  }
  
  .home h2, .home h3 {
    font-size: 34px;
    color: var(--primary-color);
  }
  
  @media(min-width: 600px) {
    section.homePage .item-1 {
      max-width: 500px;
      margin: 100px 100px;
    }
  }
  
  @media(min-width: 1000px) {
    section.aboutUs .item-1, section.objective .item-1 {
      display: flex;
      width: 936px;
      margin: auto;
      margin-top: 100px;
      border-radius: 15px;
      padding: 15px;
    }
    section.objective img {
      margin-top: 0px;
    }
    section.objective .item-1 {
      flex-direction: row-reverse;
    }
    section.aboutUs .text, section.objective .text {
      padding: 30px;
    }
    section.objective {
      margin-bottom: 100px;
    }
  }
  
  /* NOSOTROS */
  h1.nosotros-title {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 48px;
  }
  
  section.nosotros h2 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 34px;
  }
  
  section.nosotros {
    background-color: var(--content-background-color);
    padding: 20px;
    display: inline-block;
}

section.nosotros .item-1{
    height: 300px;
}

section.nosotros p{
    margin-top: 20px;
}
section.testimonios{
    background-color: var(--content-background-color);
}
section.testimonios h2{
    color: var(--primary-color);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 34px;
}
section.testimonios .image{
    text-align: center;
}
section.testimonios img{
    width: 140px;
    height: 140px;
    align-items: center;
    border-radius: 50%;
}
section.testimonios .text{
    text-align: center;
}
section.testimonios p, section.testimonios strong{
    padding: 20px 20px;
}
section.testimonios .testimonio{
    margin-top: 50px;
}

@media(min-width: 750px){
    h1.nosotros-title{
        margin-top: 70px;
    }
    section.nosotros {
      display: inline-block;
      width: 750px;
      height: 300px;
      border-radius: 15px;
      margin: 15px auto;
    }
}

@media(min-width: 1000px){
    section.testimonios .items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: auto;
        margin-bottom: 50px;
        max-width: 1100px;

    }
    section.testimonios .testimonio{
        width: 460px;
        justify-self: center;
    }
  }
  
  /* CONTACTO */
  h1.contact-h1 {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 48px;
  }
  
  section.contact h2 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 34px;
  }
  
  section.contact {
    background-color: var(--content-background-color);
    padding: 15px;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .formulario label {
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .formulario input, .formulario textarea {
    padding: 0.75rem;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    outline: none;
  }
  
  .formulario input:focus, 
  .formulario textarea:focus {
    border-color: #003c8f;
  }
  
  .formulario small {
    font-size: 0.85rem;
    color: #666;
  }
  
  .formulario button {
    padding: 0.75rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .formulario button:hover {
    background-color: #003c8f;
  }
  
  section.accesibilidad {
    background-color: var(--content-background-color);
  }
  
  section.accesibilidad h3 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 34px;
  }
  
  section.accesibilidad div.image {
    background-color: #FFD700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 144px;
  }
  
  section.accesibilidad strong {
    font-size: 24px;
  }
  
  section.accesibilidad .item {
    margin-top: 30px;
    padding-left: 20px;
    display: flex;
    height: 144px;
  }
  
  section.accesibilidad .text {
    padding-top: 15px;
    padding-left: 30px;
  }
  
  @media(min-width: 750px) {
    section.contact {
      margin: auto;
      width: 750px;
      border-radius: 15px;
      margin-bottom: 70px;
    }
  }
  
  @media(min-width: 1000px) {
    section.accesibilidad .items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      max-width: 1100px;
      height: 470px;
      margin: auto;
      margin-bottom: 50px;
    }
  }

 /* Espectáculos */
.espectaculos-title {
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
  margin: 20px 0;
}

.espectaculos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 80px;
  background-color: var(--background-color);
}

.espectaculo {
  background-color: var(--content-background-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.espectaculo img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 200px;
  object-fit: cover;
  object-position: center 25%;
}

.espectaculo h3 {
  color: var(--primary-color);
  font-size: 24px;
  margin: 10px 0;
}

.espectaculo p {
  color: var(--text-color);
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

/* Modo oscuro */
body.dark-mode .espectaculo {
  background-color: #1e1e1e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

body.dark-mode .espectaculos-container {
  background-color: #121212;
}

/* Versión móvil */
@media (max-width: 600px) {
  .espectaculos-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .espectaculo img {
    height: 150px;
  }
  .espectaculo h3 {
    font-size: 20px;
  }
  .espectaculo p {
    font-size: 14px;
  }
}
  
  /* Footer */
  footer {
    margin-top: auto;
    background-color: var(--footer-background-color);
    display: flex;
    min-height: 62px;
  }
  
  footer p {
    font-size: 12px;
    color: var(--footer-text-color);
  }
  
  .footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footer-content div {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .footer-content p {
    display: inline;
  }
  
  footer img {
    width: 200px;
  }
  
  @media(max-width: 920px) {
    footer {
      display: block;
      text-align: center;
    }
    .footer-content {
      padding-top: 20px;
      display: block;
    }
    .footer-content div {
      display: block;
    }
    .footer-content p {
      display: block;
      text-align: center;
    }
    footer img {
      margin: auto;
    }
    .text p {
      padding: 5px;
    }
  }
  
@media(min-width: 1000px){
    section.accesibilidad .items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        max-width: 1100px;
        height: 470px;
        margin: auto;
        margin-bottom: 50px;
    }
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  display: none;
}

.success-message {
  color: green;
  font-size: 1em;
  margin-top: 10px;
  display: none;
}

/*localidades*/

/* Estilos específicos para la sección de Compra de Localidades */
.purchase-title {
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
    color: white; /* Cambiado a blanco */
}

/* Línea de tiempo personalizada */
.timeline-purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 20px;
    font-size: 1em;
}

.timeline-purchase-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-color);
}

.timeline-purchase-item .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

/* Estilos para la sección de búsqueda */
.search-section-purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

.search-section-purchase select,
.search-section-purchase button {
    width: 150px; /* Ajuste de tamaño */
    padding: 8px;
    font-size: 1em;
    text-align: center;
}

.search-section-purchase select {
    background-color: var(--content-background-color);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.search-section-purchase button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}

@media (max-width: 600px) {
  .purchase-title {
      font-size: 1.8em; 
      margin-top: 15px;
  }

  .timeline-purchase {
      flex-direction: column; 
      gap: 15px;
      text-align: center;
  }

  .timeline-purchase-item {
     width: 30%;
  }

  .timeline-purchase-item .circle {
      width: 25px; 
      height: 25px;
      font-size: 0.9em;
  }

  .search-section-purchase {
      flex-direction: column; 
      gap: 10px;
  }

  .search-section-purchase select,
  .search-section-purchase button {
      width: 80%; 
      font-size: 0.9em; 
      padding: 8px;
  }
}



/*CIUDADES*/
section.cities {
    background-color: var(--content-background-color);
}

section.cities h1{
    color: var(--primary-color);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 34px;
}

.city .date{
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 123px;
  height: 143px;
  border-radius: 12%;
}

.city .date p{
  color: var(--text-color);
  padding-top: 5px;
  font-size: 20px;
  color: var(--content-background-color);
}

.city img{
  max-width: 22px;
  max-height: 22px;
}

.city{
  display: flex;
  flex-direction: row;
}
.city .text{
  border: 1px solid #AAAAAA;
  border-radius: 15px;
}
.city .button a{
  display: inline-block;
  margin-top: 20px;
  font-size: 48px;
  background-color: var(--primary-color);
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  text-decoration: none;
  color: #FFFFFF;
}
.city .text{
  padding: 20px;
  width: 100%;
}
.city .icon-text{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.city p{
  margin-left: 10px;
}
.filter-svg{
  filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(198deg) brightness(87%) contrast(87%);
}

@media(min-width: 552px){
  .city{
    max-width: 552px;
    margin: auto;
    margin-top: 20px;
  }
  .city .text{
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 148px;
  }
  .city .date{
    height: 148px;
  }
  .city .icon-text{
    margin-top: 5px;
  }
}

@media(min-width: 1166px){
  .cities-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1166px;
    margin: auto;
  }
}

