/* Variables para colores */
:root {
    --background-color: #D32F2F;
    --text-color: #000000;
    --primary-color: #1565C0; 
    --footer-background-color: #000000;
    --footer-text-color: #FFFFFF;
    --content-background-color: #FFFFFF;
  }
  
  body.dark-mode {
    --background-color: #121212;
    --text-color: #FFFFFF; 
    --primary-color: #BB86FC;
    --footer-background-color: #1F1F1F;
    --footer-text-color: #AAAAAA;
    --content-background-color: #333333;
  }
  
  /* General */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Botón de modo oscuro */
  #toggle-dark-mode {
    margin-left: auto;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
    
  /* HOME PAGE */
  section.homePage {
    min-height: 442px;
    background-image: 
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),     
      url("../img/circus.png");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0; 
  }
  
  section.homePage .item-1 {
    padding: 20px;
  }
  
  section.homePage h1 {
    font-size: 48px;
    color: #FFFFFF;
  }
  
  section.homePage a, section.aboutUs a {
    display: inline-block;
    margin-top: 20px;
    font-size: 48px;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    text-decoration: none;
    color: #FFFFFF;
  }
  
  section.aboutUs .item-1, section.objective .item-1 {
    background-color: #FAFAFA;
  }
  
  section.aboutUs .text {
    margin-bottom: 20px;
  }
  
  section.aboutUs p, section.objective p {
    color: black;
    margin-top: 30px;
    font-size: 16px;
  }
  
  section.aboutUs img, section.objective img {
    max-width: 100%;
    align-items: center;
  }
  
  section.aboutUs .item-1, section.objective .item-1 {
    padding: 20px;
  }
  
  section.objective img {
    margin-top: 20px;
  }
  
  .home h2, .home h3 {
    font-size: 34px;
    color: var(--primary-color);
  }
  
  @media(min-width: 600px) {
    section.homePage .item-1 {
      max-width: 500px;
      margin: 100px 100px;
    }
  }
  
  @media(min-width: 1000px) {
    section.aboutUs .item-1, section.objective .item-1 {
      display: flex;
      width: 936px;
      margin: auto;
      margin-top: 100px;
      border-radius: 15px;
      padding: 15px;
    }
    section.objective img {
      margin-top: 0px;
    }
    section.objective .item-1 {
      flex-direction: row-reverse;
    }
    section.aboutUs .text, section.objective .text {
      padding: 30px;
    }
    section.objective {
      margin-bottom: 100px;
    }
  }
  
  /* NOSOTROS */
  h1.nosotros-title {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 48px;
  }
  
  section.nosotros h2 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 34px;
  }
  
  section.nosotros {
    background-color: var(--content-background-color);
    padding: 20px;
    display: inline-block;
}

section.nosotros .item-1{
    height: 300px;
}

section.nosotros p{
    margin-top: 20px;
}
section.testimonios{
    background-color: var(--content-background-color);
}
section.testimonios h2{
    color: var(--primary-color);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 34px;
}
section.testimonios .image{
    text-align: center;
}
section.testimonios img{
    width: 140px;
    height: 140px;
    align-items: center;
    border-radius: 50%;
}
section.testimonios .text{
    text-align: center;
}
section.testimonios p, section.testimonios strong{
    padding: 20px 20px;
}
section.testimonios .testimonio{
    margin-top: 50px;
}

@media(min-width: 750px){
    h1.nosotros-title{
        margin-top: 70px;
    }
    section.nosotros {
      display: inline-block;
      width: 750px;
      height: 300px;
      border-radius: 15px;
      margin: 15px auto;
    }
}

@media(min-width: 1000px){
    section.testimonios .items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: auto;
        margin-bottom: 50px;
        max-width: 1100px;

    }
    section.testimonios .testimonio{
        width: 460px;
        justify-self: center;
    }
  }
  
  /* CONTACTO */
  h1.contact-h1 {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 48px;
  }
  
  section.contact h2 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 34px;
  }
  
  section.contact {
    background-color: var(--content-background-color);
    padding: 15px;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .formulario label {
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .formulario input, .formulario textarea {
    padding: 0.75rem;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    outline: none;
  }
  
  .formulario input:focus, 
  .formulario textarea:focus {
    border-color: #003c8f;
  }
  
  .formulario small {
    font-size: 0.85rem;
    color: #666;
  }
  
  .formulario button {
    padding: 0.75rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .formulario button:hover {
    background-color: #003c8f;
  }
  
  section.accesibilidad {
    background-color: var(--content-background-color);
  }
  
  section.accesibilidad h3 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 34px;
  }
  
  section.accesibilidad div.image {
    background-color: #FFD700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 144px;
  }
  
  section.accesibilidad strong {
    font-size: 24px;
  }
  
  section.accesibilidad .item {
    margin-top: 30px;
    padding-left: 20px;
    display: flex;
    height: 144px;
  }
  
  section.accesibilidad .text {
    padding-top: 15px;
    padding-left: 30px;
  }
  
  @media(min-width: 750px) {
    section.contact {
      margin: auto;
      width: 750px;
      border-radius: 15px;
      margin-bottom: 70px;
    }
  }
  
  @media(min-width: 1000px) {
    section.accesibilidad .items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      max-width: 1100px;
      height: 470px;
      margin: auto;
      margin-bottom: 50px;
    }
  }

 /* Espectáculos */
.espectaculos-title {
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
  margin: 20px 0;
}

.espectaculos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 80px;
  background-color: var(--background-color);
}

.espectaculo {
  background-color: var(--content-background-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.espectaculo img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 200px;
  object-fit: cover;
  object-position: center 25%;
}

.espectaculo h3 {
  color: var(--primary-color);
  font-size: 24px;
  margin: 10px 0;
}

.espectaculo p {
  color: var(--text-color);
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

/* Modo oscuro */
body.dark-mode .espectaculo {
  background-color: #1e1e1e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

body.dark-mode .espectaculos-container {
  background-color: #121212;
}

/* Versión móvil */
@media (max-width: 600px) {
  .espectaculos-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .espectaculo img {
    height: 150px;
  }
  .espectaculo h3 {
    font-size: 20px;
  }
  .espectaculo p {
    font-size: 14px;
  }
}
  
  /* Footer */
  footer {
    margin-top: auto;
    background-color: var(--footer-background-color);
    display: flex;
    min-height: 62px;
  }
  
  footer p {
    font-size: 12px;
    color: var(--footer-text-color);
  }
  
  .footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footer-content div {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .footer-content p {
    display: inline;
  }
  
  footer img {
    width: 200px;
  }
  
  @media(max-width: 920px) {
    footer {
      display: block;
      text-align: center;
    }
    .footer-content {
      padding-top: 20px;
      display: block;
    }
    .footer-content div {
      display: block;
    }
    .footer-content p {
      display: block;
      text-align: center;
    }
    footer img {
      margin: auto;
    }
    .text p {
      padding: 5px;
    }
  }
  
@media(min-width: 1000px){
    section.accesibilidad .items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        max-width: 1100px;
        height: 470px;
        margin: auto;
        margin-bottom: 50px;
    }
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  display: none;
}

.success-message {
  color: green;
  font-size: 1em;
  margin-top: 10px;
  display: none;
}

/*localidades*/

/* Sección de Compra de Localidades */
.localidades {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

/* Título centrado */
.purchase-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

/* Línea de tiempo */
.timeline-purchase {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--content-background-color);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px auto;
  max-width: 800px;
}

.timeline-purchase-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
}

.timeline-purchase-item .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--content-background-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.timeline-purchase-item.active .circle {
  background-color: var(--primary-color);
  color: white;
}

.timeline-purchase-item p {
  margin: 0;
  font-size: 0.9em;
  color: var(--text-color);
}

/* Buscador */
.search-section-purchase {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.search-section-purchase select,
.search-section-purchase input,
.search-section-purchase button {
  width: 180px;
  padding: 10px;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  background-color: var(--content-background-color);
  color: var(--text-color);
}

.search-section-purchase button {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-section-purchase button:hover {
  background-color: #003c8f;
}

/* Responsividad */
@media (max-width: 600px) {
  .timeline-purchase {
      flex-direction: column;
      gap: 15px;
  }

  .timeline-purchase-item .circle {
      width: 30px;
      height: 30px;
  }

  .search-section-purchase select,
  .search-section-purchase input,
  .search-section-purchase button {
      width: 90%;
      font-size: 0.9em;
  }
}

/* Estilo base (desktop) */
.resultado-busqueda {
  width: 100%;
  background-color: var(--content-background-color);  
  padding: 30px;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

/* Título de resultados */
.resultado-titulo {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Detalles del evento */
.evento-detalles {
  max-width: 900px;
  margin: 0 auto 20px;
  display: flex;
  background-color: var(--content-background-color);
  color: var(--text-color);
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.evento-imagen {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--primary-color);
}

.info-evento {
  width: 100%;
  font-size: 16px;
  color: #333;
}

.info-evento p {
  margin: 10px 0;
  color: var(--text-color);
}

.mapa-boton {
  padding: 10px 20px;
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mapa-boton:hover {
  background-color: #1565C0;
  color: white;
}

/* Contenedor de selección */
.seleccion-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.mapa-asientos {
  display: grid;
  background-color: var(--content-background-color);
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  flex: 2;
}

.asiento {
  width: 30px;
  height: 30px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.asiento.seleccionado {
  background-color: var(--primary-color);
  color: var(--content-background-color);
}

.asiento.ocupado {
  background-color: #555;
  border-color: #777;
  color: var(--footer-text-color);
  cursor: not-allowed;
}

.detalle-sectores {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.sector {
  padding: 15px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sector:hover {
  background-color: #1565C0;
  color: white;
}

.resumen-compra-card {
  width: 100%;
  max-width: 400px;
  background-color: var(--content-background-color);
  color: var(--text-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 20px auto 0;
}

.resumen-titulo {
  font-size: 18px;
  margin-bottom: 10px;
}

.cantidad-entradas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.cantidad-boton {
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  color: var(--content-background-color);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.cantidad-boton:hover {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);}

.comprar-boton {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--content-background-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comprar-boton:hover {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Contenido del Modal */
.modal-content {
  background-color: var(--content-background-color);
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  position: relative;
  text-align: left;
}

/* Botón de Cerrar */
.close-button {
  color: var(--text-color);
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: var(--primary-color);
}

/* Modal Body */
.modal-body {
  margin-top: 20px;
}

.modal-body iframe {
  border: none;
  border-radius: 10px;
}

/* Botón de Cerrar */
.close-button {
  color: var(--text-color);
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: var(--primary-color);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Contenido del Modal */
.modal-content {
  background-color: var(--content-background-color);
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  position: relative;
  text-align: left;
}

/* Botón de Cerrar */
.close-button {
  color: var(--text-color);
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: var(--primary-color);
}

/* Modal Body */
.modal-body {
  margin-top: 20px;
}

.modal-body iframe {
  border: none;
  border-radius: 10px;
}



/* === VERSIÓN MOBILE === */
@media (max-width: 768px) {
  .resultado-titulo {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .evento-detalles {
    max-width: 100%;
    padding: 10px;
  }

  .evento-imagen {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .info-evento {
    font-size: 14px;
  }

  .seleccion-container {
    gap: 20px;
  }

  .mapa-asientos {
    grid-template-columns: repeat(5, 1fr); /* Reducir columnas */
  }

  .asiento {
    width: 25px;
    height: 25px;
  }

  .detalle-sectores {
    flex-direction: row; /* Mostrar sectores en fila */
    flex-wrap: wrap; /* Permitir ajuste de filas */
    gap: 10px;
  }

  .sector {
    flex: 1 1 calc(50% - 10px); /* Dividir sectores en dos columnas */
    font-size: 14px;
  }

  .resumen-compra-card {
    padding: 15px;
    font-size: 14px;
  }

  .cantidad-boton {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }

  .comprar-boton {
    padding: 8px;
    font-size: 16px;
  }
}

/*CIUDADES*/
section.cities {
    background-color: var(--content-background-color);
}

section.cities h1{
    color: var(--primary-color);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 34px;
}

.city .date{
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 123px;
  height: 143px;
  border-radius: 12%;
}

.city .date p{
  color: var(--text-color);
  padding-top: 5px;
  font-size: 20px;
  color: var(--content-background-color);
}

.city img{
  max-width: 22px;
  max-height: 22px;
}

.city{
  display: flex;
  flex-direction: row;
}
.city .text{
  border: 1px solid #AAAAAA;
  border-radius: 15px;
}
.city .button a{
  display: inline-block;
  margin-top: 20px;
  font-size: 48px;
  background-color: var(--primary-color);
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  text-decoration: none;
  color: #FFFFFF;
}
.city .text{
  padding: 20px;
  width: 100%;
}
.city .icon-text{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.city p{
  margin-left: 10px;
}
.filter-svg{
  filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(198deg) brightness(87%) contrast(87%);
}

@media(min-width: 552px){
  .city{
    max-width: 552px;
    margin: auto;
    margin-top: 20px;
  }
  .city .text{
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 148px;
  }
  .city .date{
    height: 148px;
  }
  .city .icon-text{
    margin-top: 5px;
  }
}

@media(min-width: 1166px){
  .cities-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1166px;
    margin: auto;
  }
}

